<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div>
            <form action="/process_form" method="post">
                <h2>Search for aliases</h2>
                <div class="form-group">
                    <label for="exampleInputEmail1" class="form-label">Hero name</label>
                    <input type="text" id="hero" name="hero" class="form-control" placeholder="Username" required
                    autofocus>
                </div>
                <input class="btn btn-lg btn-primary btn-block" type="submit">
            </form>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>